{% extends "layout.html" %}
{% block content %}
    <h1>Admin Page</h1>
    <br>
    <button type="button" onclick="window.location.href = '/allusers'" class="btn btn-outline-info">Users</button>
    <button type="button" onclick="window.location.href = '/createuser'" class="btn btn-outline-info">Create New User</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allelectives'" class="btn btn-outline-info">Electives</button>
    <button type="button" onclick="window.location.href = '/createelective'" class="btn btn-outline-info">Create New Elective</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allnotifications'" class="btn btn-outline-info">Notifications</button>
    <button type="button" onclick="window.location.href = '/createnotification'" class="btn btn-outline-info">Create New Notification</button>
{% endblock content %}