{% extends "layout.html" %}
{% block content %}
    <h1>Admin Page</h1>
    <br>
    <button type="button" onclick="window.location.href = '/settime'" class="btn btn-outline-info">Set Registration Time</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allusers'" class="btn btn-outline-info">Users</button>
    <button type="button" onclick="window.location.href = '/createuser'" class="btn btn-outline-info">Create New User</button>
    <button type="button" onclick="window.location.href = '/uploadusers'" class="btn btn-outline-info">Upload User CSV File</button>
    <button type="button" onclick="window.location.href = '/notregistered'" class="btn btn-outline-info">Unregistered Users</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allnotifications'" class="btn btn-outline-info">Notifications</button>
    <button type="button" onclick="window.location.href = '/createnotification'" class="btn btn-outline-info">Create New Notification</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allelectives'" class="btn btn-outline-info">Electives</button>
    <button type="button" onclick="window.location.href = '/createelective'" class="btn btn-outline-info">Create New Elective</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/allofferings'" class="btn btn-outline-info">Offerings</button>
    <button type="button" onclick="window.location.href = '/createoffering'" class="btn btn-outline-info">Create New Offering</button>
    <br><br><br>
    <button type="button" onclick="window.location.href = '/stats'" class="btn btn-outline-info">Stats Page</button>

    <br><br><br><br><br><br>
    <button type="button" data-toggle="modal" data-target="#completeModal" class="btn btn-outline-info">Complete Registrations</button>
    <button type="button" data-toggle="modal" data-target="#resetModal" class="btn btn-outline-info">Reset Registrations</button>


<!-- Modal -->
  <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetModalLabel">Reset Registrations?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/reset'">Reset</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal2 -->
  <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completeModalLabel">Complete Registrations?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/completeall'">Complete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}