{% extends "layout.html" %}
{% block content %}
    <h1>All Buildings &nbsp
      <a href="{{url_for('building')}}" class="btn btn-outline-info">New Building</a>
    </h1><br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Name</th>
        <th scope="col">Edit</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for building in buildings %}
	    <tr>
	      <td scope="row">{{building.id}}</td>
	      <td scope="row">{{building.name}}</td>
        <td scope="row"><a href="{{url_for('building', id=building.id)}}" class="btn btn-outline-info">Edit</a></td>
        <td scope="row">
          <form action="{{url_for('deleteBuilding', id=building.id)}}" method="post">
            <input type="submit" class="btn btn-outline-danger" value="Delete"></input>
          </form>
        </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
{% endblock content %}
