{% extends "layout.html" %}
{% block content %}
    <h1>All Cores Page &nbsp<button type="button" onclick="window.location.href = '/createcore'" class="btn btn-outline-info">Create New core</button></h1><br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Instructor</th>
	      <th scope="col">Building</th>
	      <th scope="col">Room</th>
	      <th scope="col">Period</th>
	      <th scope="col">Roll</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for core in cores %}
	    <tr>
	      <th scope="row">{{core.id}}</th>
	      <th scope="row">{{core.name}}</th>
	      <th scope="row">{{core.description}}</th>
	      <th scope="row">{{core.instructor}}</th>
	      <th scope="row">{{core.building}}</th>
	      <th scope="row">{{core.room}}</th>
	      <th scope="row">{{core.core_period}}</th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/coreroll/{{core.id}}'" class="btn btn-outline-info">Roll</button></th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/editcore/{{core.id}}'" class="btn btn-outline-info">Update</button></th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/deletecore/{{core.id}}'" class="btn btn-outline-danger">Delete</button></th>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    <!-- <button type="button" onclick="window.location.href = '/createcore'" class="btn btn-outline-info">Create New core</button> -->
{% endblock content %}