{% extends "layout.html" %}
{% block content %}
    <h1>All Cores Page &nbsp
      {% if current_user.role == 'admin' %}
        <button type="button" onclick="window.location.href = '/createcore'" class="btn btn-outline-info">Create New core</button>
      {% endif %}
    </h1><br>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Instructor</th>
	      <th scope="col">Room</th>
	      <th scope="col">Period</th>
	      <th scope="col">Roll</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for core in cores %}
	    <tr>
	      <td scope="row">{{core.id}}</td>
	      <td scope="row">{{core.name}}</td>
	      <td scope="row">{{core.description}}</td>
	      <td scope="row">{{core.instructor}}</td>
	      <td scope="row">{{core.room}}</td>
	      <td scope="row">{{core.core_period}}</td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/coreroll/{{core.id}}'" class="btn btn-outline-info">Roll</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/editcore/{{core.id}}'" class="btn btn-outline-info">Update</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/deletecore/{{core.id}}'" class="btn btn-outline-danger">Delete</button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    <!-- <button type="button" onclick="window.location.href = '/createcore'" class="btn btn-outline-info">Create New core</button> -->
{% endblock content %}
