{% extends "layout.html" %}
{% block content %}
    <h1>All Electives Page
      <button type="button" onclick="window.location.href = '/createelective'" class="btn btn-outline-info">Create New Elective</button>
      <button type="button" onclick="window.location.href = '/settime'" class="btn btn-outline-info">Set Registration Time</button>
    </h1><br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Date Created</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for elective in electives %}
	    <tr>
	      <th scope="row">{{elective.id}}</th>
	      <th scope="row">{{elective.name}}</th>
	      <th scope="row">{{elective.description}}</th>
	      <th scope="row">{{elective.date_created}}</th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/editelective/{{elective.id}}'" class="btn btn-outline-info">Update</button></th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/deleteelective/{{elective.id}}'" class="btn btn-outline-danger">Delete</button></th>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    <!-- <br><button type="button" onclick="window.location.href = '/createelective'" class="btn btn-outline-info">Create New Elective</button> -->
{% endblock content %}
