{% extends "layout.html" %}
{% block content %}
    <h1>All Offerings Page</h1>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Building</th>
	      <th scope="col">Room</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Instructor</th>
	      <th scope="col">Update</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in offerings %}
	    <tr>
	      <th scope="row">{{offering.id}}</th>
	      <th scope="row">{{offering.elective.name}}</th>
	      <th scope="row">{{offering.building}}</th>
	      <th scope="row">{{offering.room}}</th>
	      <th scope="row">{{offering.capacity}}</th>
	      <th scope="row">{{offering.instructor}}</th>
	      <th scope="row"><button type="button" onclick="window.location.href = '/editoffering/{{offering.id}}'" class="btn btn-outline-info">Update</button></th>
	      <th scope="row"><button type="button" onclick="window.location.href = 'deleteoffering/{{offering.id}}'" class="btn btn-outline-danger">Delete</button></th>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    <br>
    <button type="button" onclick="window.location.href = '/createoffering'" class="btn btn-outline-info">Create New Offering</button>
{% endblock content %}