{% extends "layout.html" %}
{% block content %}
    <h1>All Offerings Page &nbsp
      <button type="button" onclick="window.location.href = '/createoffering'" class="btn btn-outline-info">Create New Offering</button>
      <button type="button" onclick="window.location.href = '/settime'" class="btn btn-outline-info">Set Registration Time</button>
      <button type="button" data-toggle="modal" data-target="#completeModal" class="btn btn-outline-info">Complete Registrations</button>
    </h1>
    <p id="countdown"></p>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Room</th>
	      <th scope="col">Period</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Current Student Count</th>
	      <th scope="col">Instructor</th>
	      <th scope="col">Update</th>
	      <th scope="col">Roll</th>
	      <th scope="col">Use as Template</th>
	      <th scope="col">Complete</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in offerings %}
	    <tr>
	      <td scope="row">{{offering.id}}</td>
	      <td scope="row">{{offering.elective.name}}</td>
	      <td scope="row">{{offering.room}}</td>
	      <td scope="row">{{offering.period_start}}</td>
	      <td scope="row">{{offering.capacity}}</td>
	      <td scope="row">{{offering.current_count}}</td>
	      <td scope="row">{{offering.instructor}}</td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/editoffering/{{offering.id}}'" class="btn btn-outline-info">Update</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/roll/{{offering.id}}'" class="btn btn-outline-info">Roll</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/createoffering?offering_template_id={{offering.id}}'" class="btn btn-outline-info">Use as Template</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/complete/{{offering.id}}'" class="btn btn-outline-success">Complete</button></td>
	      <td scope="row"><button type="button" onclick="window.location.href = '/deleteoffering/{{offering.id}}'" class="btn btn-outline-danger">Delete</button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
  <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completeModalLabel">Complete Registrations?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/completeall'">Complete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- <button type="button" onclick="window.location.href = '/createoffering'" class="btn btn-outline-info">Create New Offering</button> -->
{% endblock content %}
{% block scripts %}
  <script src="/static/countdown.js"></script>
{% endblock scripts %}
