{% extends "layout.html" %}
{% block content %}
    <h1>All Users Page &nbsp
      {% if current_user.role == 'admin' %}
  		  <button type="button" onclick="window.location.href = '/createuser'" class="btn btn-outline-info">Create New User</button>
  	    <button type="button" onclick="window.location.href = '/uploadusers'" class="btn btn-outline-info">Upload User CSV File</button>
  	    <button type="button" onclick="window.location.href = '/notregistered'" class="btn btn-outline-info">List Unregistered Users</button>
      {% endif %}
    </h1><br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Full Name</th>
	      <th scope="col">Username</th>
	      <th scope="col">Email</th>
	      <th scope="col">Role</th>
        {% if current_user.role == 'admin' %}
	        <th scope="col">Update</th>
        {% endif %}
	      <th scope="col">Schedule</th>
        {% if current_user.role == 'admin' %}
	        <th scope="col">Delete</th>
        {% endif %}
	    </tr>
	  </thead>
	  <tbody>
	  	{% for user in users %}
	    <tr>
	      <td scope="row">{{user.id}}</td>
	      <td scope="row">{{user.full_name}}</td>
	      <td scope="row">{{user.username}}</td>
	      <td scope="row">{{user.email}}</td>
	      <td scope="row">{{user.role}}</td>
        {% if current_user.role == 'admin' %}
	      <td scope="row"><button type="button" onclick="window.location.href = '/edituser/{{user.id}}'" class="btn btn-outline-info">Update</button></td>
        {% endif %}
	      {% if user.role == 'student' %}
	      	<td scope="row"><button type="button" onclick="window.location.href = '/campschedule/{{user.id}}'" class="btn btn-outline-info">Schedule</button></td>
	      {% else %}
	      	<td scope="row">Not a student</td>
	      {% endif %}
        {% if current_user.role == 'admin' %}
	      <td scope="row"><button type="button" onclick="window.location.href = '/deleteuser/{{user.id}}'" class="btn btn-outline-danger">Delete</button></td>
        {% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
    <!-- <button type="button" onclick="window.location.href = '/createuser'" class="btn btn-outline-info">Create New User</button>
    <button type="button" onclick="window.location.href = '/uploadusers'" class="btn btn-outline-info">Upload User CSV File</button>
    <button type="button" onclick="window.location.href = '/notregistered'" class="btn btn-outline-info">Unregistered Users</button> -->

{% endblock content %}
