{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    	<form method="POST" action="">
    		{{ form.hidden_tag() }}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">Edit Offering</legend>
                <div class="form-group">
                    {{ form.elective.label(class="form-control-label") }}
                    {{ form.elective(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.instructor.label(class="form-control-label") }}
                    {% if form.instructor.errors %}
                        {{ form.instructor(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.instructor.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.instructor(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.capacity.label(class="form-control-label") }}
                    {% if form.capacity.errors %}
                        {{ form.capacity(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.capacity.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.capacity(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.period_start.label(class="form-control-label") }}
                    {{ form.period_start(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.period_length.label(class="form-control-label") }}
                    {{ form.period_length(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {{ form.date(class="form-control datepick") }}
                </div>
                <div class="form-group">
                  {{ form.room.label(class="form-control-label") }}
                  {% if form.room.errors %}
                              {{ form.room(class="form-control form-control is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.room.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor%}
                              </div>
                          {% else %}
                              {{ form.room(class="form-control form-control") }}
                          {% endif %}
                </div>
                {{ form.offering_id }}
    		</fieldset>
    		<div class="form-group">
    			{{ form.submit(class="btn btn-outline-info") }}
                <button type="button" onclick="window.location.href = '/allofferings'" class="btn btn-outline-danger">Cancel</button>
                <button type="button" onclick="window.location.href = '/deleteoffering/{{offering.id}}'" class="btn btn-outline-danger">Delete</button>
    		</div>
    	</form>
    </div>
{% endblock content %}
{% block scripts %}
  <script type='text/javascript'>
    $('.form-control').change(function(event) {
      if (event.target.id == 'room')
        return
      dict = $('form').serializeArray()
      $.ajax({
          type: 'POST',
          url: '/api/rooms/offer',
          data: JSON.stringify(dict), // or JSON.stringify ({name: 'jonas'}),
          contentType: "application/json",
          dataType: 'json'
      }).done(function(data){
        $('#room').empty();
        $.each(data, function(k,v){
          console.log(k);
          console.log(v);
          $('#room').append($("<option></option>").attr("value", v[0]).text(v[1]));
        });
      });
    });
  </script>
{% endblock %}
