{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    	<form method="POST" action="">
    		{{ form.hidden_tag() }}
    		<fieldset class="form-group">
    			<legend class="border-bottom mb-4">Create Event</legend>
                {{ form.title.label(class="form-control-label") }}
                {{ form.title (class="form-control form-control-lg") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description (class="form-control form-control-lg") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.room.label(class="form-control-label") }}
                {{ form.room (class="form-control form-control-lg") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.start_time.label(class="form-control-label") }}
                {{ form.start_time (class="form-control form-control-lg datetimepick") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.end_time.label(class="form-control-label") }}
                {{ form.end_time (class="form-control form-control-lg datetimepick") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.recur.label(class="form-control-label") }}
                {{ form.recur (class="form-control form-control-lg") }}
    		</fieldset>
        <fieldset class="form-group">
                {{ form.recur_end_date.label(class="form-control-label") }}
                {{ form.recur_end_date (class="form-control form-control-lg datepick") }}
    		</fieldset>
    		<div class="form-group">
    			{{ form.submit(class="btn btn-outline-info") }}
          <a href="{{url_for('campschedule')}}" class="btn btn-outline-danger">Cancel</a>
    		</div>
    	</form>
    </div>
{% endblock content %}
