{% extends "layout.html" %}
{% block content %}
  {% if notifications %}
    <h2>Notifications</h2>
  {% endif %}
    {% for notification in notifications %}
        <article class="media content-section">
          <div class="media-body">
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
              <div class="form-group">
                <button type="button" onclick="window.location.href = '/editnotification/{{notification.id}}'" class="btn btn-outline-info">Update</button>
                <button type="button" onclick="window.location.href = '/deletenotification/{{notification.id}}'" class="btn btn-outline-danger">Delete</button>
              </div>
            {% endif %}
            <div class="article-metadata">
              <a class="mr-2" href="#">GenElect Admins</a>
              <small class="text-muted">{{ notification.date_created }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ notification.title }}</a></h2>
            <p class="article-content">{{ notification.notification }}</p>
          </div>
        </article>
    {% endfor %}
    <h3 id="countdown"></h3>
{% endblock content %}
{% block scripts %}
  <script src="/static/countdown.js"></script>
{% endblock scripts %}
