{% extends "layout.html" %}
{% block content %}
{% if user == current_user %}
<h1>My Schedule</h1>
{% else %}
<h1>{{user.full_name}}'s Schedule</h1>
{% endif %}
    <!-- start with the core courses -->
    <br><br>
    <h2>Core Courses</h2>


    <!-- Now print out the elective courses -->
    <br><br>
    <h2>Elective Courses</h2>
    {% for offering in registered %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{offering.instructor}}</a>
              <small class="text-muted">Period: {{ offering.period_start }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ offering.elective.name }}</a></h2>
            <p class="article-content">{{ offering.elective.description }}</p>
            <p class="article-content">{{ offering.building }} {{ offering.room }}</p>
          </div>
          {% if current_user == user %}
            <div class="form-group">
              <button type="button" onclick="window.location.href = '/drop/{{offering.id}}?back=schedule'" class="btn btn-outline-danger">Drop</button>
            </div>
          {% elif current_user.role == 'admin' %}  
            <div class="form-group">
              <button type="button" onclick="window.location.href = '/drop/{{offering.id}}?user_id={{user.id}}&back=schedule'" class="btn btn-outline-danger">Drop Student</button>
            </div>
          {% endif %}
        </article>
    {% endfor %}
{% endblock content %}