{% extends "layout.html" %}
{% block content %}
    <h1>Admin Statistics Page</h1>
    <br><br>
    <h2>Offerings <25% filled</h2>
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Offering ID</th>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Instructor Name</th>
	      <th scope="col">Period</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Current Count</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in empty %}
	    <tr>
	      <th scope="row">{{offering.id}}</th>
	      <th scope="row">{{offering.elective.name}}</th>
	      <th scope="row">{{offering.instructor}}</th>
	      <th scope="row">{{offering.period_start}}</th>
	      <th scope="row">{{offering.capacity}}</th>
	      <th scope="row">{{offering.current_count}}</th>
	    {% endfor %}
	  </tbody>
	</table>

	<br><br>
    <h2>Offerings >75% fill</h2>
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Offering ID</th>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Instructor Name</th>
	      <th scope="col">Period</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Current Count</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in full %}
	    <tr>
	      <th scope="row">{{offering.id}}</th>
	      <th scope="row">{{offering.elective.name}}</th>
	      <th scope="row">{{offering.instructor}}</th>
	      <th scope="row">{{offering.period_start}}</th>
	      <th scope="row">{{offering.capacity}}</th>
	      <th scope="row">{{offering.current_count}}</th>
	    {% endfor %}
	  </tbody>
	</table>

	<br><br>
	<button type="button" onclick="window.location.href = '/admin'" class="btn btn-outline-info">Admin Page</button>
{% endblock content %}