{% extends "layout.html" %}
{% block content %}
    <h1>Admin Statistics - Offering Day: {{ date | datetime('date') }}</h1>
    <hr>
    <h2>Offering Stats</h2>
    <table class='table'>
      <tr>
        <th></th>
        <th>Period 1</th>
        <th>Period 2</th>
        <th>Period 3</th>
      </tr>
      <tr>
        <td>Available Offerings</td>
        <td>{% if 1 in sections.keys() %}{{ sections[1] }}{% else %}0{% endif %}</td>
        <td>{% if 2 in sections.keys() %}{{ sections[2] }}{% else %}0{% endif %}</td>
        <td>{% if 3 in sections.keys() %}{{ sections[3] }}{% else %}0{% endif %}</td>
      </tr>
      <tr>
        <td>Total Occupied Seats</td>
        <td>{% if 1 in occupied.keys() %}{{ occupied[1] }}{% else %}0{% endif %}</td>
        <td>{% if 2 in occupied.keys() %}{{ occupied[2] }}{% else %}0{% endif %}</td>
        <td>{% if 3 in occupied.keys() %}{{ occupied[3] }}{% else %}0{% endif %}</td>
      </tr>
      <tr>
        <td>Total Seats</td>
        <td>{% if 1 in seats.keys() %}{{ seats[1] }}{% else %}0{% endif %}</td>
        <td>{% if 2 in seats.keys() %}{{ seats[2] }}{% else %}0{% endif %}</td>
        <td>{% if 3 in seats.keys() %}{{ seats[3] }}{% else %}0{% endif %}</td>
      </tr>
    </table>
    <h2>Offerings <25% filled</h2>
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Instructor Name</th>
	      <th scope="col">Period</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Current Count</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in empty %}
	    <tr>
	      <td scope="row">{{offering.elective.name}}</td>
	      <td scope="row">{{offering.instructor}}</td>
	      <td scope="row">{{offering.period_start}}</td>
	      <td scope="row">{{offering.capacity}}</td>
	      <td scope="row">{{offering.current_count}}</td>
	    {% endfor %}
	  </tbody>
	</table>

	<br><br>
    <h2>Offerings >75% fill</h2>
    <table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Elective Name</th>
	      <th scope="col">Instructor Name</th>
	      <th scope="col">Period</th>
	      <th scope="col">Capacity</th>
	      <th scope="col">Current Count</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for offering in full %}
	    <tr>
	      <td scope="row">{{offering.elective.name}}</td>
	      <td scope="row">{{offering.instructor}}</td>
	      <td scope="row">{{offering.period_start}}</td>
	      <td scope="row">{{offering.capacity}}</td>
	      <td scope="row">{{offering.current_count}}</td>
	    {% endfor %}
	  </tbody>
	</table>

{% endblock content %}
