{% extends "layout.html" %}
{% block content %}
    <h1>Electives:</h1>
    <br>
    <form class="example" action="" method="get">
      <input type="text" placeholder="Search.." name="search" class="form-control">
      <button type="submit" class="btn btn-outline-info">Search</button>
    </form>
    <br>
    {% if not period %}
      <button type="button" onclick="window.location.href = '/electives'" class="btn btn-info">All</button>
    {% else %}
      <button type="button" onclick="window.location.href = '/electives'" class="btn btn-outline-info">All</button>
    {% endif %}

    {% if period and period == 1 %}
      <button type="button" onclick="window.location.href = '/electives?period=1'" class="btn btn-info">Period 1</button>
    {% else %}
      <button type="button" onclick="window.location.href = '/electives?period=1'" class="btn btn-outline-info">Period 1</button>
    {% endif %}
    {% if period and period == 2 %}
      <button type="button" onclick="window.location.href = '/electives?period=2'" class="btn btn-info">Period 2</button>
    {% else %}
      <button type="button" onclick="window.location.href = '/electives?period=2'" class="btn btn-outline-info">Period 2</button>
    {% endif %}
    {% if period and period == 3 %}
      <button type="button" onclick="window.location.href = '/electives?period=3'" class="btn btn-info">Period 3</button>
    {% else %}
      <button type="button" onclick="window.location.href = '/electives?period=3'" class="btn btn-outline-info">Period 3</button>
    {% endif %}
    <br><br>
    {% for offering in offerings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{offering.instructor}}</a>
              <small class="text-muted">{{ offering.date_created }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ offering.elective.name }}</a></h2>
            <p class="article-content">Description: {{ offering.elective.description }}</p>
            <p class="article-content">Location: {{ offering.building }} {{ offering.room }}</p>
            <p class="article-content">Capacity: {{ offering.capacity }}</p>
            <p class="article-content">Difficulty: {{ offering.elective.elective_difficulty }}</p>
            <p class="article-content">Current Student Count: {{ offering.current_count }}</p>
            <p class="article-content">Period: {{ offering.period_start }}</p>
            {% if offering.elective.prerequisites %}
              <span class="article-content">Prerequisites:</span>
              {% for prereq in offering.elective.prerequisites %}
                {{ Electives.query.filter_by(id=prereq.prerequisite_elective_id).first().name }}
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            {% if offering in registered %}
              <button type="button" onclick="window.location.href = '/drop/{{offering.id}}?back=electives'" class="btn btn-outline-danger">Drop</button>
            {% else %}
              <button type="button" onclick="window.location.href = '/register/{{offering.id}}'" class="btn btn-outline-success">Register</button>
            {% endif %}
        </div>
        </article>
    {% endfor %}
{% endblock content %}