{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="content-section">
        <form method=post enctype=multipart/form-data>
            <legend class="border-bottom mb-4">Upload Users</legend>
            <input type=file name=file class="form-control form-control-lg">
            <br>
            <span>CSV File Format: Username,Full Name,Email,Role,Password,Core1_ID,Core2_ID,Core3_ID</span>
            <br><br>
            <span>Example: jarod.keene,Jarod Keene,jarod.keene@trojans.dsu.edu,admin,Password1!,1,2,3</span>
            <br><br>
            <input type=submit value=Upload class="btn btn-outline-info">
        </form>
    </div>
</div>
{% endblock content %}