{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">GenElect Admins</a>
              <small class="text-muted">Tuesday, March 12</small>
            </div>
            <h2><a class="article-title" href="#">Welcome!</a></h2>
            <p class="article-content">We are happy to announce a new site!</p>
          </div>
        </article>
{% endblock content %}